apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-app-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: node-app
  template:
    metadata:
      labels:
        app: node-app
    spec:
      containers:
        - name: node-app
          image: yashdeepali1804/node-app:latest
          ports:
            - containerPort: 3000
          env:
            - name: MONGO_URI
              value: "mongodb+srv://yashgkumbhar_db_user:hLpsvfWkOTGaEgPX@cluster0.e2aqx3v.mongodb.net/?appName=Cluster0"
